[2014-05-19 20:37] brianfeister opened #1 "Configure strategy in providers error"
I see that commits are as recent as a few minutes ago, so I apologize if I'm jumping on something that's still a WIP, however, just figured I would document an issue I ran into:  as of [this commit](https://github.com/strongloop-community/loopback-example-passport/commit/c81a2bb7f09c964addea9943e18688dc9102d82c) running `npm start` complains that `providers.json.template` does not have a passport

[2014-05-19 20:46] #1 closed, assigned to nobody

[2014-05-20 22:20] brianfeister opened #2 "Loopback Explorer 401"
Sorry, still learning here, but I'm getting 401 from the loopback explorer with this project.  Access Control is set to `*`, so I'm not sure the reason for the `401` response.   What config is missing to enable it?

[2014-05-20 23:25] #2 closed, assigned to nobody

[2014-06-17 12:14] fabien opened #3 "Need clarification - inconsistencies"
@raymondfeng The example models.json has all core loopback models redeclared with a lowercased model name, and then pointing to the actual base model. Why this differentiation? Wouldn't you be able to extend the core models otherwise? Note that:

`loopback.getModel('user') !== loopback.getModel('User')` whereas:

`loopback.models.user === loopback.models.User`

due to how the model name is normali

[2014-07-07 18:07] robbear opened #4 "Change in package.json for loopback-passport dependency breaks app"
app.js requires 'loopback-passport' but the package.json file specifies loopback-component-passport.

Result when running:

module.js:340
    throw err;
    ^
Error: Cannot find module 'loopback-passport'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object

[2014-07-07 18:17] #4 closed, assigned to nobody

[2014-08-06 01:36] collinforrester opened #5 "Loopback 2.0 compatibility"
I'm working to add this to a 2.0 project and when I'm following the example code in this project, I'm getting the error:

`Error: Model not found: UserCredential`

Running with debug I get:

[code]

I was able to change the model definitions from the 1.x format to 2.0 but I'm guessing there is still something I'm missing as far as getting loopback to inherit the models that this project includes?

[2014-08-08 18:03] nowherenearithaca opened #6 "Available option for google auth: consent/select-account"
In the providers.json file, there are some options you can pass down to passport's google auth stuff that can force getting consent again, or showing the account chooser.  This might be of interest (it worked for me).

Specifically, you can add a line like this to providers.json for google-login

[code]

where

args=consent: user will be prompted to allow app whatever permissions are implied by th

[2014-08-27 01:10] eliorcohen opened #7 "local strategy"
hey, first of all, great work with the framework, like the road you going :)

i am trying to set up the local strategy to work along side with the social logins,

after probing the code , i have set up the config as follow:
[code]

then i tested it by adding a user to the db with the explorer... ( using the mongodb connector).
i have noticed that i have two "users" models differing by capital lett

[2014-08-27 04:52] #5 closed, assigned to nobody

[2014-08-28 18:00] geertbrit opened #8 "Getting error when accessing any of the methods through explorer ("Cannot call ACL.find(). The find method has not been setup. The PersistedModel has not been correctly attached to a DataSource!)"
Just testing out of the box.

When trying any of the methods through localhost:3000/explorer I'm getting:

[code]

I was expecting to get `401` instead.

I tried to check what the problem could be, but `User` etc are connected to datasource `db` which is correctly configured afaik. (I changed nothing at `model-config.json` and `datasources.json`)

btw:
client-secrets, etc. are configured correctly

[2014-08-28 18:40] #8 closed, assigned to nobody

[2014-08-28 20:02] gebrits opened #9 "Logic issues (double created Users while already linked, etc.) See related issue"
I noticed some weird logic/flow related stuff in `loopback-example-passport` . I'm pretty sure it't got nothing to do with the example per se so created the issue in `loopback-component-passport` -instead.

https://github.com/strongloop/loopback-component-passport/issues/19

[2014-10-12 05:21] surfjedi opened #11 "will this module work with Single page apps, and mobile iOS, android?"
Does this support rest login and authenticating all requests for things like angular single page apps, iOS, android etc?

[2014-10-20 16:37] dennyabuti opened #12 "ldap configuration"
I am trying to configure passport for authentication with an ldap provider using passport-ldapauth
 "ldap": {
    "provider": "ldap",
    "authScheme":"ldap",
    "module": "passport-ldapauth",
    "authPath": "/auth/ldap",
    "server":{
      "url": "ldap://server:10389/o=org,dc=domain,dc=com",
      "adminDn": "uid=admin,ou=system",
      "adminPassword": "pwd",
      "searchBase": "ou=users,o=

[2014-10-20 20:49] #12 closed, assigned to nobody

[2014-11-17 03:32] dstroot opened #15 "Adding LinkedIn - one key issue"
OK so I added LinkedIn.

1) First setup a LinkedIn account and lets put it in the providers.json file:

[code]

2) Lets install the module:
`npm install https://github.com/dstroot/passport-linkedin-oauth2/raw/master/passport-linkedin-oauth2-1.1.2.tgz --save`

This is a tweaked module because it needs a pull request that hasn't been merged yet: https://github.com/auth0/passport-linkedin-oauth2/pull

[2014-11-30 04:57] dstroot opened #19 "how to get the accessToken?"
Having a hell of a time figuring out how to get the accessToken so after my user is authenticated I can hit the api and do stuff.  Tried:

[code]

[2014-11-30 16:20] #15 closed, assigned to nobody

[2014-11-30 21:29] #19 closed, assigned to nobody

[2014-12-02 22:09] dstroot opened #20 "how to add workflow?"
Say I wanted to send a welcome email after a person signs up for the first time.  Where/how is the best place and method to do so?  Could someone just point me in the right direction?

[2014-12-09 17:28] #20 closed, assigned to nobody

[2014-12-09 17:31] dstroot opened #21 "Say I wanted to timestamp the user's logins?"
Example:

Each time a user logs in I want to timestamp the event on the user record.  In a separate process I may send emails to users who haven't visited in a while.

Where is the passport login process can I add a hook to timestamp the user's record?  Just point me the right direction please.

[2015-01-19 18:25] SSchaaf opened #24 "accessToken"
accesssToken is not generated when a local login used within app (firing http://localhost:3005/auth/local)

With API login accessToken is generated (firing http://localhost:3005/api/users/login)

I commented "enableAuth()"  in server\boot\authentication.js and used explorer to monitor accesToken data.

[2015-01-20 10:01] PierreGambarotto commented on #24
In [`passport-configurator.js`](https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L213)  from loopback-component-passport, you can see on line 213 that the token is created if the `setAccessToken` option exists.

Try to put `setAccessToken: true` in your providers.json in the part describing the `local` provider.
Not tested, but I hope this will hel

[2015-01-20 14:44] SSchaaf commented on #24
Tks Pierre. Works for me.
But I needed to change "loopback-component-passport": "^1.0.5", in loopback-example-passport package.json file to the last version, 1.1.2

[2015-01-20 14:44] #24 closed

[2015-02-02 12:36] jmls opened #25 "The model type must be a constructor"
I'm trying to use the example code in this app in mine, but am running into this error

[code]

[2015-02-02 13:13] jmls commented on #25
found the problem

my model-config.json was missing the line

"./node_modules/loopback-component-passport/lib/models"

[2015-02-07 20:46] Morriz opened #26 "unlink / revoke ?"
Hi, is it possible to unlink / revoke an account?

[2015-02-12 02:19] heygrady opened #27 "link.jade and linkAccounts.jade are missing"
These templates have been deleted from the repo. I was able to retrieve them from the git history to get the pages to render. Were they deleted on purpose? The example project 404's without them.

[2015-02-12 02:22] heygrady opened #28 "/link/facebook 404 not found"
From the Account page (/auth/account) there is a button for "Link Facebook." That button takes you to the /link/facebook page, which is a 404 page. How is this supposed to work?

[2015-02-13 13:44] benmarten commented on #11
I don't think handling login via native SDK and interaction via REST is supported (yet).
The way I handle it is via WebView. Point the user to e.g. /auth/Facebook in a UIWebView, then do sth. like this to get the data:

		- (void)webViewDidFinishLoad:(UIWebView *)webView
		{
			NSString *userId;
			NSString *accessToken;
			NSDate *createdDate;

			NSHTTPCookieStorage *cookieJar = [NSHTTPCookieSto

[2015-02-27 21:38] RainerAtSpirit opened #29 "Add support for Microsoft Azure Active Directory Apps"
Currently there are two node libraries that support azure active directory. Would be great to see an example how the passport version could be supported here

https://github.com/AzureAD/passport-azure-ad

As an alternative there's a core ADAL node library as well.

https://github.com/AzureAD/azure-activedirectory-library-for-nodejs

[2015-03-02 14:36] aukevs commented on #3
+1

[2015-03-02 16:44] raymondfeng commented on #3
We plan to get rid of the name mangling business when a model is registered with `app.models` (maybe in LoopBack 3.0)

[2015-03-13 14:13] AaronBedward commented on #11
Can you tell me how to use the accesstoken? I am still unauthorised when i tried to make a secure call with this in the header.

[2015-03-14 04:18] benmarten commented on #11
Do you set the access token then to your LBRESTAdapter?
		[_adapter setAccessToken:existingAccessToken];

[2015-03-14 11:37] AaronBedward commented on #11
I figured this out.  The token is signed so I had to get the unsigned value to make the secure call.

	res.cookie('access-token', req.signedCookies['access_token']);
	res.cookie('userId', req.signedCookies['userId']);

[2015-03-16 17:34] a-reda commented on #25
Hello,

I tried your solution but still not working, any other suggestion?

Thanks,

[2015-03-17 15:06] brunocascio commented on #25
same problem

[2015-03-17 16:57] a-reda commented on #25
I solved it by adding in model-config.json because I frogot them
' ' '
 "accessToken": {
    "dataSource": "db",
    "public": true
  },
  "userCredential": {
    "dataSource": "db",
    "public": true
  },
  "userIdentity": {
    "dataSource": "db",
    "public": true
  }
' ' '

[2015-03-18 11:31] brunocascio commented on #25
Thanks, works!

note: Use  `UserCredential`and `UserIdentity` instead of `userCredential`and `userIdentity`

[2015-03-22 05:55] Zeralith commented on #11
Thanks to everyone for their information and for making this example project.

I believe that loopback-component-passport needs to add support for passport-facebook-token (https://github.com/drudge/passport-facebook-token) so that we can just send POSTs from the iOS and Android Facebook SDKs, to login with Facebook at least in the correct manner, to then start interacting with the API via mobile.

[2015-03-30 02:57] jforaker commented on #28
+1

[2015-04-15 12:20] qazs opened #31 "Check if user signed up or logged in"
How do you check if a user just signed up or logged in, since all `successRedirect` goes to `/auth/account`.

[2015-04-17 13:32] OwenBrotherwood opened #32 "It is hard to use this loopback-example-passport because ..."
... I think the structure of the slc loopback default app has changed since the writing of this.

Currently, I am trying to find out how passport parts should be placed in the current slc loopback app.

I feel that ../boot/<some>.js should be used instead of placing all the passport components in server.js

[2015-04-19 07:01] ccgdesigns commented on #31
In your express middleware you can check for req.user (this is added by passport)
You can also change the `successRedirect` in the `providers.json` file to redirect to a different page

[2015-04-20 17:35] OwenBrotherwood commented on #12
@raymondfeng I think something should be stated in the docs as it does not seem that LDAP works "out of the box" despite it being mentioned in https://strongloop.com/strongblog/authenticate-loopback-google-facebook-github/

FYI current Community work for LDAP as far as I know:
- Origins https://github.com/strongloop/loopback-component-passport/pull/44
- My fork https://github.com/OwenBrotherwood/l

[2015-04-21 19:43] OwenBrotherwood commented on #29
@raymondfeng
After the LDAP (MS AD) pull is over for the loopback-component-passport, is there a good use case for trying to test Azure ?
The request is for an example as to how to create a working config. Some of the understanding is the same as the LDAP (MS AD).
I have a MS Developer Account that gives me free credits to set up an Azure AD "at some  time"

[2015-04-21 23:59] simonguest opened #33 "Use 3rd party access token to protect access to API"
I have the sample up and working with Facebook, and can secure pages by applying the 'ensureLoggedIn' middleware - but I'm not sure how to secure APIs with the same authentication mechanism.

For example, I have an api (/api/people) that uses the rest datasource to call a REST endpoint running on a different server. I would like to allow access to only if the caller presents an oAuth token with th

[2015-04-22 18:21] OwenBrotherwood commented on #29
@raymondfeng
I will be testing https://github.com/AzureAD/passport-azure-ad for in house use.
And will probably test with loopback-component-passport if you can indicate there are no others working on this at the moment.

I found my own Use Case for http://en.wikipedia.org/wiki/Active_Directory_Federation_Services

[2015-04-22 22:54] crandmck commented on #12
@raymondfeng This seems reasonable to me.  Please confirm if you think I should update the docs as stated above.

[2015-04-23 05:42] OwenBrotherwood commented on #12
@crandmck
LDAP has been merged LDAP https://github.com/strongloop/loopback-component-passport/commit/ae998bba2fd8205d3df7dd9f46de25d73061d588

Example of how to use LDAP MS-AD:
 may be needed the merge allows the possibility for using: let us see if there comes an issue from the users but prepare use cases for the use of internal authentication/authorization where loopback is used where the focus

[2015-04-23 06:57] OwenBrotherwood commented on #29
https://github.com/AzureADSamples/AzureAD-Node-Sample/wiki/Windows-Azure-Active-Directory-WebSSO-using-WS-Federation-with-passport.js
Something someone should walk thru when they have time

[2015-04-24 19:39] crandmck commented on #12
Thanks @OwenBrotherwood I would like to add this to the docs, but I really need and example of how to configure it; something along the lines of [what we have now for FaceBook and Google](http://docs.strongloop.com/pages/viewpage.action?pageId=3836277#Third-partylogin(Passport)-Configuringthird-partyproviders).

Can you provide such an example?

[2015-04-24 20:53] OwenBrotherwood commented on #12
@crandmck
Pierre has tested for LDAP OpenLDAP : config https://github.com/strongloop/loopback-component-passport/pull/44#issuecomment-91611286

I will provide a config for LDAP MS AD (Microsoft Active Directory) that shows general configuration type values with some "getting started" comments.

[2015-04-27 07:45] OwenBrotherwood commented on #12
@crandmck
The doc should indicate some form of early support

https://github.com/strongloop/loopback-component-passport/issues/58 The callback works in the context  ms-ad LDAP "works for me"

[code]

[2015-04-27 16:06] crandmck commented on #12
OK, I added this to http://docs.strongloop.com/pages/viewpage.action?pageId=3836277#Third-partylogin(Passport)-Configuringthird-partyproviders.  Please take a look.

[2015-04-27 16:57] OwenBrotherwood commented on #12
@crandmck Looks good. Let us see what issues there are in order to pin down key problems for doc.

My current workload is:
- AAA in general (the issue I created, I don't want to name the issue or too much noise in github x-ref comments)
- ADFS, alternative to LDAP to support AA in an enterprise https://github.com/AzureAD/passport-azure-ad/issues/25#issuecomment-96264123
- passport in general: make

[2015-04-27 17:03] OwenBrotherwood commented on #12
# Comments on LDAP MS-AD
- In  general, if you neet to use a  LDAP MS-AD, then one needs to make friends with the friendly MS AD guy in the organisation.
- The example config is a general pointer for the MS AD guy to what is needed.
- Make sure that you have a small test app that is only what is needed to check that you get the results you expected

[2015-04-28 15:45] OwenBrotherwood commented on #12
Comments on passport to an alternative to accessing MS-AD instead of via LDAP: ADSF (for anyone finding this pull request and is wondering how to integrate to MS-AD
It is hoped to show this at some time, but currently causing me headaches
https://github.com/AzureAD/passport-azure-ad/issues/25

[2015-05-01 15:16] johannesjo commented on #25
Same error here and none of the solutions work for me. The models are undefined at the moment of time theyre accessed.

[2015-05-01 15:21] johannesjo commented on #25
Turns out that I need to boot the app before the models can be accessed.

[2015-05-20 21:09] rovyoper opened #37 "loopbackPassport in router.js inside boot"
Hi  I'm new in Loopback. I was trying to move the passport dependencies from server.js to a new file router.js inside ./boot but in this file passport doesn't create a new user.

[2015-05-20 21:52] rovyoper commented on #37
I found the error! thanks anyway

[2015-05-20 21:52] #37 closed

[2015-05-30 09:05] pablotango commented on #11
1+ @Zeralith

[2015-06-03 03:23] mailuser41 commented on #32
Agree @OwenBrotherwood I figured out the same... how to move the app.get and app.post to another js...

[2015-06-04 12:56] marcelomogi commented on #33
I'm facing the same problem. I tried to use the access tokens generated when creating a user by 3rd party authorization and linking but no success.

[2015-06-09 12:20] gausie opened #39 "Update to use middleware.json"
It would be good to see how this should be implemented using the new middleware.json syntax.

[2015-06-29 23:01] SyRenity opened #40 "Adding additional parameters to oAuth request"
Is there any way to add additional parameters to the OAuth2 request?

Similar to:
https://testing/oauth/authorize?
    response_type=code&
    client_id=YOUR_CLIENT_ID&
    redirect_uri=YOUR_CALLBACK_URL&
    scope=send&
    meta[test1]=1&
    meta[test2]=2&
    meta[test3]=3

[2015-06-29 23:09] raymondfeng commented on #40
You can subclass a given oAuth2 strategy to override the following methods:

https://github.com/jaredhanson/passport-oauth2/blob/master/lib/strategy.js#L247-L278

[2015-07-01 00:11] gianko opened #41 "loopback.getCurrentContext() returns empty {} for "active""
Extending this example to have an "Events" model I have this js

<pre>
var loopback = require('loopback');
module.exports = function(Event) {

  Event.observe('before save', function (ctx,next) {

    var context = loopback.getCurrentContext();
    console.log('context:', context.active);
    next();
  });

};
</pre>

The console shows an empty {}

Doing some testing I think it has somethign to do

[2015-07-01 19:20] YsnKsy commented on #11
1+ @Zeralith

[2015-07-01 21:05] mikesparr commented on #31
Similar to this, I tried merging the two examples from `loopback-faq-user-management` and `loopback-example-passport` to have a single solution that includes email verification, password reset (other common use cases of authentication).  For some reason when I try to recognize the `User.afterRemote('create' ...` nothing is received in the example passport.  It works fine in the faq-user-management

[2015-07-01 21:06] mikesparr commented on #31
I wrote this with the passport repo to see if the strategies override models of other frameworks like Loopback as well.  Appreciate if anyone knows why: https://github.com/jaredhanson/passport-facebook/issues/123

[2015-07-01 21:11] mikesparr opened #42 "User afterRemote('create' not firing after adding passport"
I added a `user.js` file to this project and an email DS, etc.  When I add some functionality for lost password, reset, etc. it works.  When I try to add email verification to this app, it fails and the remote hook never gets fired.

Is there any reason why `User.create` is not working during signup when the `User.create(newUser, ...` is in the signup route and I add remote hook?  Since `user.json

[2015-07-01 21:18] mikesparr opened #43 "Passport login does not set req.accessToken"
Other LB apps leverage the `User.login()` which returns an `accessToken` and also set in the request. This token is then used for subsequent requests to API, etc.  In this example app since it uses Passport's `req.login()` it bypasses LB's built in accessToken to leverage the ACL and Roles (RBAC).

What is the best way to incorporate Passport, but also include LB's built in user model and RBAC?  I

[2015-07-08 20:09] crandmck commented on #39
The app has https://github.com/strongloop/loopback-example-passport/blob/master/server/middleware.json.   What more are you after?

[2015-07-08 22:26] adriatic opened #44 "Question on providers.json.template"
Except for "local strategy" all other providers x-login and x-link section in the template. What is the meaning of that and where can I read more about it?

[2015-07-09 10:18] gausie commented on #39
That's just the template middleware.json. I'll paste an example of what I
use when I can.
On 8 Jul 2015 21:09, "Rand McKinney" <notifications@github.com> wrote:

[2015-07-10 03:26] jacintoo commented on #2
I have the same issue too, i added the codes to user/userIdentity/userCredential models but they didn't work still.. please help

[2015-07-10 19:01] bstar opened #45 "Potential Memory Leak Issue"
I'm getting this warning in my logs:

[code]

This stack overflow issue seems to suggest that this is indeed a problem:
http://stackoverflow.com/questions/10760620/using-memorystore-in-production

[2015-07-11 02:28] yuanyong commented on #41
@gianko I've got the same issue too. Just as you mentioned, we need to remove:
[code]
While it works with:
[code]
I think the example might need a update incase others have this issue.

[2015-07-15 19:26] NelsonBrandao commented on #11
1+ @Zeralith

[2015-08-07 04:50] simonguest commented on #33
@raymondfeng I was on a call with @altsang this afternoon, and he mentioned that this feature might have been recently included in a recent update of loopback. Can you confirm?

[2015-08-20 04:55] bachirelkhoury commented on #11
+1 @Zeralith has there been any progress on this or need any help?

[2015-08-26 10:39] PhilippeCorreges opened #46 "Missing page"
500 Error: Failed to lookup view "pages/link" in views directory

The Jade page does not exist

[2015-08-26 14:28] reflog commented on #25
@johannesjo solution works. place the code after the boot.

[2015-08-27 00:12] superkhau commented on #46
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-08-27 09:09] PhilippeCorreges commented on #46
Hi Simon,

My repos are private but here is a way to reproduce :
- Clone loopback-example-passport on your desktop
- Click on Link social accounts to your account <http://localhost:3000/link> on the first page
- The bug appears. The page does not exist.

Cheers

Philippe

Le 27 août 2015 à 02:12, Simon Ho <notifications@github.com> a écrit :

[2015-08-31 13:13] vishaloban opened #47 "can you provide full documentation link about strong loop passport on Facebook login"
I unable to run this example can you provide documentation link not strongloop site i also see it .

[2015-08-31 16:28] raymondfeng commented on #47
Can you elaborate the issue/error you ran into?

[2015-09-01 05:41] vishaloban commented on #47
Thank sir for helping on this topic, you provide the git link working fine.

On Mon, Aug 31, 2015 at 9:58 PM, Raymond Feng <notifications@github.com>
wrote:

[2015-09-01 17:30] superkhau commented on #47
@vishaloban Has the issue been resolved? Can I close it?

[2015-09-06 08:18] eugenehp commented on #42
hey @mikesparr any progress on this?

[2015-09-08 23:18] superkhau commented on #42
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-09-09 15:34] mikesparr commented on #42
Hi @eugenehp  and @superkhau  I will be diving back in on the project using LB next week and report. I'll fork the example repo and repeat my steps and share.  Thanks.

[2015-09-14 05:33] OnlyRefat opened #48 "Can not use useridentity in Loopback-passport"
Loopback-passport is awesome i think. i have looked through the example. i set it up with the following command
npm install loopback-component-passport

Now when i want to use the **userIdentity** as a base class i dont find it in the list. what is the problem. how can i make userIdentity and userCredential available that i can use them as a base class to create new.
Regards,
Refat.

[2015-09-15 09:32] barboni commented on #43
@mikesparr did you make any progress on this? I'm currently facing the same issue.

[2015-09-20 01:45] swapnilg commented on #11
1+ @Zeralith any update ?

[2015-09-20 03:18] swapnilg commented on #25
yes thanks @johannesjo

[2015-09-21 19:56] superkhau commented on #47
Closing due to no response for almost a month.

[2015-09-21 19:56] #47 closed

[2015-09-22 00:26] superkhau commented on #25
Looks like you guys managed to solve this one. Can I close this @jmls?

[2015-09-22 00:28] superkhau commented on #11
@raymondfeng ^

[2015-10-08 08:11] clockworkgr opened #50 "Facebook no longer returns all fields by default"
More of a heads up for  anyone coming across this.

New Apps created in facebook automatically get v2.4 + Graph API and both versioned/unversioned requests are upgraded to 2.4.

Hence:
https://graph.facebook.com/v2.2/me with ClientID/ClientSecret from a new app returns ONLY id + name. Even though it's versioned it uses v2.4+)

In order to return to the old behaviour and get the same fields we need

[2015-10-14 03:59] sanori commented on #39
I have a similar issue.
In this example, all the middleware and route settings are in `server.js` and `boot/*.js`. It would be best if most of the `app.middleware()` and `app.use()` calls are moved to `middleware.json`.

For example, in strongloop@5.0.1 template, `middleware.json` sets the route to `${restApiRoot}` as follows.
[code]

[2015-10-14 04:38] superkhau commented on #39
@gausie @sanori Would you guys like to submit a patch?

@crandmck Do the docs have sufficient info on `middleware.json` for @gausie or @sanori to submit a patch themselves?

[2015-10-14 17:58] crandmck commented on #39
@superkhau I believe so-- [Defining middleware](https://docs.strongloop.com/display/LB/Defining+middleware) should explain things sufficiently.

Also, the changes are covered by https://github.com/strongloop-internal/scrum-loopback/issues/495, but since that's an internal repo, I've reproduced the instructions below.  Note that these instructions are also for upgrading to the new Explorer.

@gausi

[2015-10-20 09:41] julien-sarazin commented on #43
@mikesparr all auth informations are stored in req.signedCookies.
I'm currently working on it. I think i will try to put in the `auth:after` middleware something like:
 ``req.accessToken = req.signedCookies.access_token``

I'll try to keep you updated if it works fine with the built-in ACL.

[2015-10-20 15:34] julien-sarazin commented on #43
Not woring ATM : https://github.com/strongloop/loopback/issues/1747

[2015-10-21 13:40] julien-sarazin commented on #43
If you guys are still interested in a solution check the strongloop/loopback#1747.
cheers

[2015-10-21 14:07] barboni commented on #43
@julien-sarazin thanks a lot. I actually ended up re-implementing the component for our needs, but I'll definitely check out your solution.

[2015-10-25 06:59] limulidae opened #51 "Integrate passport faster"
I am reading https://docs.strongloop.com/display/public/LB/Configuring+providers.json
It still needs me manually do some code modification.

My ideal integration is:
1. add loopback-component-passport, ... to package.json
2. run ONE command to generate codes/files for me
3. I ONLY have to change client id, client secret.
4. done.

is this possible?
I am tired of reading lots of integration example

[2015-11-06 17:46] philipheinser commented on #11
1+ @Zeralith @raymondfeng @superkhau

[2015-11-12 23:49] GeoffreyEmery commented on #46
here is a repo i am not sure why i am providing this but wheatever...
https://github.com/GeoffreyEmery/Loopback-AuthBug
as you can see there is no view with /link in the partial view directory causing a error when you click on the link account buttons
this was caused by this checkin
https://github.com/dstroot/loopback-example-passport/commit/f3d2845311f83be5aa66f22140a3cd1ed5743906
and is linked t

[2015-11-13 06:49] superkhau commented on #46
@jannyHou Please try to reproduce this locally with the sample repo provided by @GeoffreyEmery to confirm the issue.

[2015-11-13 13:59] jannyHou commented on #46
@superkhau okay let me try it.

[2015-11-13 14:43] jannyHou commented on #46
@GeoffreyEmery @superkhau And I think the problem is there is no link.jade file in /server/views/pages
but the route
[code]

[2015-11-13 19:44] crandmck opened #52 "Update app to have latest standard scaffolding"
This example needs to be updated per https://github.com/strongloop-internal/scrum-loopback/issues/495.

[2015-11-13 21:49] superkhau commented on #46
@jannyHou Can you check the history to see if there ever was one? Or else you can just update the example and remove or update that feature accordingly.

[2015-11-16 14:33] jannyHou commented on #46
@superkhau  ok, no problem, I will look into it.

[2015-11-16 16:40] superkhau commented on #46
@jannyHou TY.

[2015-11-21 02:38] GeoffreyEmery commented on #46
all you need to do is go back to the checkin i listed above that is the last refrence

[2015-11-23 15:01] jannyHou commented on #50
@clockworkgr Thanks for informing us this change! I will look into it.

[2015-11-25 21:42] loay commented on #48
Not exactly sure what you mean by the list?
If you mean explorer operation list , it is normal as it is set by default in model-config.json to
[code]
The user identity file itself could be found here:
...\node_modules\loopback-component-passport\lib\models

Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for mor

[2015-11-25 21:42] #48 closed

[2015-11-26 16:45] jannyHou commented on #28
same as https://github.com/strongloop/loopback-example-passport/issues/46
I will fix that missing page in a few days. Thanks!

[2015-11-26 16:45] #28 closed

[2015-11-26 18:01] jannyHou commented on #46
`link.html`existed before, from https://github.com/strongloop/loopback-example-passport/blob/262599a1a033edbbb1efcc7e6d363622b898aaad/public/link.html#L10-L11 we can know that it implemented the same function(link social account to local account) as https://github.com/strongloop/loopback-example-passport/blob/master/server/views/pages/loginProfiles.jade#L15-L17
So it's only a duplicate link that a

[2015-11-27 15:03] jannyHou commented on #50
hey @clockworkgr, thank you! your solution works fine, the complete link returns a bunch of information. But we would appreciate it to be a user defined behaviour :) so feel free to change it on your own app, modify this line would be ok: https://github.com/jaredhanson/passport-facebook/blob/master/lib/strategy.js#L59

[2015-11-27 15:13] jannyHou commented on #46
Fixed in this pr: https://github.com/strongloop/loopback-example-passport/pull/55

[2015-11-27 15:13] #46 closed

[2015-11-27 15:53] jannyHou commented on #44
hey @adriatic , to answer your question, let me give you a brief description about what is `loopback-component-passport`:
It is a third-party login component, in this example app, you could provide your social account info in provider.json, like replace [`login`](https://github.com/strongloop/loopback-example-passport/blob/master/providers.json.template#L15-L16) and [`link`](https://github.com/str

[2015-11-27 15:53] #44 closed

[2015-11-27 16:24] jannyHou commented on #43
thanks @everyone here! And thanks you @julien-sarazin for your workaround solution in  https://github.com/strongloop/loopback/issues/1747#issuecomment-149874893

[2015-11-30 23:06] superkhau commented on #25
Closing due to inactivity. I will reopen it if you guys are still running into issues.

[2015-11-30 23:06] #25 closed

[2015-12-05 09:39] sanori opened #56 "http://localhost:3000/api/users makes 404, not 401"
It seems that loopback.rest() does not work, due to the mixing of app.middleware() calls and middleware.json.

I'll submit pull request to fix this.

[2015-12-05 17:43] sanori opened #58 "logout does not remove or invaidate access_token in cookie"
Subject says it all.

It seems that req.logout() only removes user profiles.
Since access_token is still valid for api, next user can access previous user's resources.

[2015-12-05 20:00] sanori commented on #58
codes in https://github.com/strongloop/loopback-component-passport/issues/57#issuecomment-140929082 may solve this problem.

[2015-12-05 20:04] sanori opened #59 "Local login does not create access_token"
related issue: https://github.com/strongloop/loopback-component-passport/issues/57

[2015-12-15 15:58] jannyHou commented on #50
Thanks @loay ! For declaring this implementation in `loopback-component-passport` [README.md](https://github.com/strongloop/loopback-component-passport)

[2015-12-15 16:05] #50 closed

[2015-12-16 23:15] handonam commented on #46
Per https://github.com/strongloop/loopback-example-passport/issues/46#issuecomment-156450649

[code]

Should this line be removed since it doesn't have a page there? I was confused as to why it's still there when looking over the example.

[2015-12-17 01:44] jannyHou commented on #46
@handonam Thanks! I should remove that together.

[2015-12-23 22:22] 0candy commented on #52
App updated to component explorer

[2015-12-23 22:22] #52 closed

[2015-12-29 09:01] yadavji83 opened #62 "How to get more data using remote method."
currently when i do:
https://fightraffic.herokuapp.com/api/users/34/?ACCESS_TOKEN

I get:
{"realm":null,"username":"google-login.111111111","credentials":null,"challenges":null,"email":"yadavji83@gmail.com","emailVerified":null,"verificationToken":null,"status":null,"created":null,"lastUpdated":null,"id":12}

I want more data from useridentity.profile model.

[2015-12-30 14:48] romainquellec commented on #25
Thanks, works!

note: Use UserCredential and UserIdentity instead of userCredential and userIdentity

else, model not found.

=> Is that fine to use the same name UserCredential and UserIdentity with first capital ?

[2016-01-05 16:39] redaikidoka opened #63 "Current build isn't working"
After npm install succeeeds, I run node and get an error:
[code]

[2016-01-05 22:09] loay commented on #63
@redaikidoka
Thanks fore reporting the issue. Having a look. Thanks.

[2016-01-05 22:20] loay commented on #63
@redaikidoka

in `server/server.js`
just this line:
[code]
above this:
[code]

I am fixing the build shortly, so the new one works soon.

[2016-01-05 22:27] redaikidoka commented on #63
;) I just removed the baseUrl reference and it worked fine.

On Tue, Jan 5, 2016 at 2:20 PM, Loay Gewily <notifications@github.com>
wrote:

--

-=-=-==-=-=-=-==-=-=-=-=-=-=-=-=-=-
Pol Stafford
Storyteller, Writer, Geek, Sensei

[2016-01-06 20:39] loay commented on #7
Hi @eliorcohen
Is this issue fixed after the fixes mentioned by Raymond, or still having problems?
Thanks.

[2016-01-06 21:39] eliorcohen commented on #7
If i remember currectly, it did fix the probleam.

[2016-01-06 21:39] #7 closed

[2016-01-06 22:41] msimonc opened #65 "can't API login a local strategy user"
After creating a user with the 'local' strategy using the built in client, I can't login using the 'user' API.

[2016-01-06 22:45] msimonc opened #66 "Cannot GET /auth/facebook"
I deployed to AWS so that Facebook would have an URL to callback to, but, when Facebook did so it console logs:

Error: Cannot GET /auth/facebook

[2016-01-07 14:32] loay commented on #63
@redaikidoka Code is updated

[2016-01-07 14:32] #63 closed

[2016-01-07 18:25] artmunro commented on #11
Can anyone give update if this is now supported?  I see the passport-facebook module being used.

[2016-01-07 18:39] NelsonBrandao commented on #11
@artmunro Its not.

But you can add `passport-facebook-token` to your `package.json` and update the module on `providers.json` to
[code]

Finally fork `loopback-component-passport` and do something like this https://github.com/wearescytale/loopback-component-passport/commit/1d2571d915f2108d706a575b2dd7711d90898c92#diff-0d9ea68c1756ce2fc5c960b5796850aaR516

[2016-01-07 18:43] artmunro commented on #62
hey yadavji83 .. I was faced with same thing.. here is what i did for facebook (can be same for others)..
Basically 3 Steps.
1. Add Profile fields to providers
2. Update user-identity.js to set additional fields
3. add fields in user.jaso to hold the new fields

Details..
Step 1 - sample providers
  "facebook-login": {
    "provider": "facebook",
    "module": "passport-facebook",
    "clientID":

[2016-01-16 19:49] sochka commented on #44
Could you add other passport modules, not just google/twitter/facebook?

[2016-01-17 17:51] jannyHou commented on #44
hey @sochka, I think as a demo, these three most popular accounts give users a clear idea about how passport work in loopback. If you have other good suggestions, please feel free to open a new issue and create a pull request to implement it! Thanks!

[2016-01-17 19:14] jannyHou commented on #59
Thank you @sanori I am looking into this issue and will solve it with [issue#57](https://github.com/strongloop/loopback-component-passport/issues/57) together!
I am closing this issue due to duplicate. Thanks for your understanding!

[2016-01-17 19:14] #59 closed

[2016-01-17 21:50] sochka commented on #44
@jannyHou, well, actually I didn't ask you to implement it :) I just asked if this feature already exists. I should have said "Could I add..?". From your answer, I assume right now you cannot use passport-Vkontakte-token with loopback, right?

[2016-01-20 15:43] jannyHou commented on #66
hey @msimonc here is a detailed steps of how to get access to facebook account:
https://github.com/strongloop/loopback-example-passport/blob/master/README.md#2-get-your-client-idssecrets-from-third-partysocial-logins
Hope it could solve your problem!

[2016-01-20 15:45] jannyHou commented on #65
@msimonc can you provide a sandbox to reproduce your issue?
https://github.com/strongloop/loopback-sandbox/tree/master/server
You can fork this repo and update it with your own code. Thanks!

[2016-01-20 15:49] jannyHou commented on #62
thank you @artmunro ! Your solutions are welcomed!
And please also check issue https://github.com/strongloop/loopback-example-passport/issues/50 for more details!

[2016-01-20 19:46] jannyHou commented on #44
@sochka it's not supported yet but you can submit a patch in `loopback-component-passport` to add it:
Add your new case here:
https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L204

[2016-01-20 21:00] diaswrd commented on #33
@simonguest Any update on this?

I'm actually interested on using an access token from one loopback instance into another one. Instead of logging in 2 different APIs.

Any help is very appreciated. Thanks!

[2016-01-21 15:58] #66 closed

[2016-01-24 03:59] alexxgathp opened #68 "Update to documentation: Facebook profile info via providers.json"
I followed one of the tutorials and the Stopwatch example.
https://github.com/vkarpov15/stopwatch-server-example/
https://github.com/vkarpov15/stopwatch-example

The documentation does not seem to have the crucial info that changing the providers.json scope and profileFields can provide more information from Facebook.

I experimented with it to find it out, so I thought I'd just add it in here. Th

[2016-01-24 10:22] danifitz opened #69 "Page 'pages/linkedAccounts' missing from sample"
In `server/server.js` there is a method

    app.get('/link/account', ensureLoggedIn('/login'), function (req, res, next) {
      res.render('pages/linkedAccounts', {
        user: req.user,
        url: req.url
      });
    });

which refers to 'pages/linkedAccounts'. This page doesn't exist in `server/views/pages`.

When you click 'Link with Facebook/Google' button on the accounts page you get

[2016-01-25 03:19] s-thornton commented on #25
I'm still having issues with this...I've tried all of the mentioned solutions except for @johannesjo solution.  I'm not sure that I understand what he means by "The models are undefined at the moment of time theyre accessed." and "Turns out that I need to boot the app before the models can be accessed."  Is this referring to booting your strongloop application (i.e. slc start appName)?  I am new t

[2016-01-29 22:19] jannyHou commented on #69
hey @danifitz you are right, `pages/linkedAccounts` is no longer valid we move same things to `pages/loginProfiles`

And I cannot reproduce your problem when clicking "Link with Facebook/Google", did you do configuration in `provider.json` file?
Please follow the guide here to run this demo:
https://github.com/strongloop/loopback-example-passport/blob/master/README.md

Hope this could help you!

[2016-01-29 22:33] jannyHou commented on #68
thank you @alexxgathp , I think both of them work, it depends on user's preference.

[2016-01-29 22:34] #62 closed

[2016-01-29 22:38] jannyHou commented on #58
Closing it due to duplicate, thanks for your understanding.
https://github.com/strongloop/loopback-component-passport/issues/57

[2016-01-29 22:38] #58 closed

[2016-02-01 22:02] #68 closed

[2016-02-02 19:34] artmunro commented on #32
Agree.  This example should show the steps in documentation to add passport to ANY project.  This should be something like this...
1.  start with base loopback scaffolding
2. Add passport components
3. Add required files for model, configs, and routes
4. Add sample client files to call given routes.

thoughts?
Art

[2016-02-02 19:48] artmunro opened #71 "Profile as a Model would be beneficial"
It would be beneficial to have Profile as a proper Model within the Passport Example.

Two main reasons ...
1.  When using a database for persistence the default size when migrating the schema is 1024 char.  When you receive the profile data this is typically larger than the default field size, thus causing an error.
1. Showing the configurations in the provider.json for Profile demonstrates some

[2016-02-02 21:06] #69 closed

[2016-02-02 23:36] superkhau commented on #32
@OwenBrotherwood @artmunro This example is definitely outdated and needs a refreshing. @jannyHou Can you take care of this?

[2016-02-03 03:46] paulomcnally opened #72 "TTL expire"
Default TTL expire, how to set?

[2016-02-03 14:53] jannyHou commented on #32
@superkhau thank you I will take a look and update the steps to build the example with base scaffolding, btw, is this example going to be merged into another one?

[2016-02-03 22:32] superkhau commented on #32
@jannyHou No, it won't be merged anymore. It'll remain standalone.

[2016-02-08 09:31] RichardLindhout commented on #11
+1

[2016-02-10 18:55] loay commented on #56
Hi @sanori
Your commit here https://github.com/sanori/loopback-example-passport/commit/d97664b7e0191d0dede7b0b0d8c1d4db7b39c69a
does actually solve the 404 raiseUrlNotFoundError
The PR gives accesstoken error. Can you do a PR with the commit? Thanks.

[2016-02-11 03:05] loay commented on #56
I submitted another fix, that is slightly different than yours for the 404 error.
For the PR that gives accesstoken error, please fix it and ping me to merge it. Thanks.

[2016-02-11 15:13] #56 closed

[2016-02-17 10:17] always-akshat commented on #11
@NelsonBrandao, I added `passport-facebook-token` to my package.json and changed `facebook-login.provider` to `passport-facebook-token` in `providers.json`. I also made the changes to `passport-configurator.js` as suggested. I am getting the following error when I start my server.

[code]

[2016-02-17 12:12] doktordirk commented on #65
had that 'error' myself ... until i realized that i restarted the server and the in memory database got naturally reset. without restarting the server (or writing the db to file), it worked fine.
so my guess is, that this issue can be closed.

[2016-02-17 21:13] jannyHou commented on #65
@doktordirk  good to know that you solved the problem! Thanks I am closing it and feel free to reopen it if you have further questions.

[2016-02-17 21:13] #65 closed

[2016-03-09 10:22] princecharmx commented on #50
@clockworkgr  suggestions looks more clean than the suggestion of changing the profileUrl in the code.

`providers.json.template should include:
"profileFields": ["gender","link","locale","name","timezone","verified","email","updated_time"],`

[2016-03-09 12:37] artmunro opened #74 "Proper profile model to store fields returned from Facebook, Google, etc...."
There should be a proper profile model with relationship to user. If you provide profileFields suggested by passport within the providers.json, then these fields should be stored in a profile model. Developers can then have the chance to extend this model to suit their needs.

If you currently use a relational DB such as Postgres there will be an error due to profile field default length not large

[2016-03-18 10:48] julien-sarazin commented on #42
@superkhau @mikesparr
Might have found the reason.
in user-identity.js, line 134
[code]
The method `findOrCreate` won't trigger the afterRemote `create`.

[2016-03-18 18:56] superkhau commented on #42
@julien-sarazin Would you like to submit a PR with the fix?

[2016-03-26 11:55] talpasco commented on #42
Same here...
user.afterRemote('create'... Never fires.
(so does user.verify)

BTW,
Couldnt find the 'findOrCreate' function anywhere in the solution.

[2016-03-27 21:49] talpasco commented on #42
@mikesparr ... where you able to get the user.afterRemote('create' event to fire?

[2016-03-28 13:50] julien-sarazin commented on #42
Hey, 

Sorry guys don’t have much time those days.
I’ll try next week.

On 18 March 2016 at 19:56:49, Simon Ho (notifications@github.com) wrote:

@julien-sarazin Would you like to submit a PR with the fix?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-03-28 17:51] jannyHou commented on #42
@julien-sarazin thank you!
@superkhau @mikesparr @talpasco @julien-sarazin I think for build-in method like `create`, we should use [operation hook](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-Hooks) instead of remote hook?
The hook looks like:
[code]
I am not sure if we support `user.afterRemote('create', myFunction(ctx,next) {
//TODO
}
[code]

[2016-03-30 00:19] bialikover commented on #42
+1 Same issue here, thought it was a misconfiguration but the remote hook on create is not being triggered.

[2016-03-30 14:25] jannyHou commented on #42
@bialikover could you try operation hook I mentioned above?
https://github.com/strongloop/loopback-example-passport/issues/42#issuecomment-202505594

[2016-03-30 14:50] bialikover commented on #42
@jannyHou It works, but since its operational, It will be triggered also on update. A condition inside the hook to verify if is a new record or an update will work,

I tried `afterRemote('create)` in another model based on `User`, and it's being triggered.

[2016-03-30 17:39] jannyHou commented on #42
@bialikover thank you. I will label it as a bug since `afterRemote('build-in-method')` is not triggered properly.

[2016-03-30 21:48] richardpringle commented on #42
@jannyHou, can you make sure that the right people see this (mention their names in case they have unsubscribed)?

The reason the the *remote hook* isn't triggered, is because the *remote method* is never called. When a method is called on the back-end like that, `user.create`, operational hooks are triggered but remote hooks aren't. That is because back-end methods are not *remote operations*.

I

[2016-03-31 20:37] jannyHou commented on #42
@julien-sarazin @mikesparr @bialikover @talpasco @eugenehp please check the perfect explanation from @richardpringle https://github.com/strongloop/loopback-example-passport/issues/42#issuecomment-203649243

So the remote hook would *ONLY* be triggered when you are calling it from remote, which could be explorer in our case.
Let's reproduce the difference of calling from **remote** and calling on *

[2016-03-31 21:13] superkhau commented on #42
Sorry for the late reply, this one slipped by.

Yes, you should use operation hooks when you want to trigger actions based on model events (ie. when you call User.create). `loopback-example-user-management` was probably written before operational hooks became a feature.

In any case, it's just a simple example to show you how you can implement it in your own app. In most cases, you will be calling

[2016-03-31 22:04] jannyHou commented on #42
@superkhau thank you for confirming! issue created: https://github.com/strongloop-internal/scrum-loopback/issues/822
Will refactor it soon.

[2016-04-01 17:25] jannyHou commented on #42
I am closing it since the answer of question is clear now, and also created a pr for correcting old code. Please feel free to reopen it or ask questions if you are still confused.

[2016-04-01 17:25] #42 closed

[2016-04-11 07:39] Overdrivr opened #75 "After google redirection, ensureLoggedIn fails to detect user is connected and redirects to login page"
I have an issue regarding the ensureLoggedIn.

[code]

Here is the flow to create this issue:
1. I create a local user, then link this new account to google.
2. I am properly redirected back from google after I accepted to authorize the app.
3. I end up on `auth/account` (as the `console.log("Hello there!")` tells me), and I am immediately redirected back to the `login` page.

I suppose ensureLogg

[2016-04-29 20:32] mplaza commented on #11
@always-akshat the "TypeError: OAuth2Strategy requires a authorizationURL option"  is because of https://github.com/drudge/passport-facebook-token/issues/36

from PassportConfigurator.prototype.configureProvider:
[code]

[2016-05-03 14:34] tconroy opened #76 "Please provide example with GitHub Integration"
Hi! I'm trying to integrate with GitHub Enterprise login and running into issues ( discussed here https://github.com/strongloop/loopback-component-passport/issues/143 )

If someone could provide an example of this integrated with strategy-github passport auth, it'd be greatly appreciated. :)

[2016-05-03 15:02] richardpringle commented on #76
I agree that an example with GitHub would be great!

[2016-05-03 15:18] tconroy commented on #33
+1, interested in this too.

[2016-05-03 15:20] tconroy commented on #45
I was under the impression memoryStore was just for dev purposes, and you'd want to plugin some sort of db schema (mongo, etc.) for actual production usage. Please correct me if I'm wrong though :)

[2016-05-10 09:47] Morriz opened #77 "update this old piece of code"
I don't want to come across harsh like an old teacher, but please make this repo conform your own instructions on your blog, as this is currently not the preferred approach. It should have a boot script for the configuration.

Also, try to put yourself in the perspective of the end user and modify the example to use custom models. It is the preferred approach, as to have extensibility down the lin

[2016-05-10 18:47] superkhau commented on #77
This repo definitely needs an update. Which blog article are you refering to? Can you paste a link here?

[2016-05-10 20:18] Morriz commented on #77
Sure, I read this blog:

https://strongloop.com/strongblog/part-1-ionic-loopback-node-js-mobile/

[2016-05-12 07:57] Lughino commented on #33
+1

[2016-05-12 14:34] jannyHou opened #78 "Refactor the example"
This example is out-of-date so I am opening a story to refactor it, let's keep all discussions here and any suggestions are welcomed!
- [ ] Combine it with angular use cases. Details see https://github.com/strongloop/loopback-component-passport/issues/26
- [ ] In slc loopback, add an option to enable users choose different authentication level for a certain api

[2016-05-12 14:35] jannyHou commented on #78
Related: https://github.com/strongloop/loopback-example-passport/issues/32

[2016-05-25 23:25] lwhiteley commented on #25
please be aware of your folder structure
because the model-config is in the server folder then the sources path should be
`"../node_modules/loopback-component-passport/lib/models"`

which is one directory back

[2016-05-26 19:49] cristtopher commented on #76
and local with mongoDb example too.

[2016-05-26 19:52] cristtopher commented on #33
+1

[2016-05-30 13:43] artmunro commented on #78
Any idea when this will be refactored ?

[2016-06-10 12:31] ddbaron commented on #74
@artmunro I agree with you. As a workaround, you can change the datatype of the postgres field to either be longer (from 1024 to 2048 or more) or change it to 'text'. I have done this to deal with fields longer than the default 1024. NOTE: I did this directly to postgres, thus automigrate/autoupdate would overwrite those changes if you use them in the future.

[2016-06-10 12:35] ddbaron commented on #32
@jannyHou Thank you for doing this, what's the ETA on the refactoring?

[2016-06-10 13:49] jannyHou commented on #32
@ddbaron To be honest this is not on our priority at this moment. But I am looking into issues in `loopback-component-passport` and will have a better understanding on the refactor job. I will post my proposal here for a public discussion in the future.

[2016-06-26 17:10] hackerunet commented on #32
I'm sorry but, @ddbaron I totally disagree with you, your priority to provide documentation and accurate examples is for yourselves or to possible programmers using loopback?
There are tons of comments in several loopback discussions regarding the right way to implement a passport-local strategy and few actually works.
This is also my case, how can you say that loopback is as amazing as you say if

[2016-06-27 21:22] hackerunet opened #80 "Standalone passport without passport-loopback component"
Is possible to configure and use a secondary authentication method as standalone and keep token based API requests as originally offer loopback?
In order to achieve this I need to customize the routes but is possible to pass passport as parameter to routes.js from boot scripts?
[code]
That's what loopback documents say about bootscripts so I need to load /boot/routes.js passing app and passport ob

[2016-06-29 11:37] hackerunet commented on #80
already fix this, excluded the script from boot and called it by hand passing the required app and passport objects.

[2016-06-29 11:37] #80 closed

[2016-07-16 05:21] hackerunet opened #82 "Loopback passport local strategy and angular lb-services component"
Hello, I've been using loopback and a basically hardcoded passport integration into my loopback application that is causing me more pain that usefull solutions, so I need some answers to be able to determine what would be the best and continue.
1) Is it possible to use passport with loopback and declare a login route to render a specific layout / view in EJS which will also use angular lb-services

[2016-07-16 12:49] hackerunet commented on #82
I'm closing this since I posted in the wrong repo.

[2016-07-16 12:49] #82 closed

[2016-08-24 21:24] dakotahNorth commented on #33
+1

[2016-08-27 13:49] ntrinquier commented on #75
No you're not, I have the same issue. I've also noticed that the `user` is not in the response. This might or might not be related.

[2016-09-04 16:57] ggiacomo commented on #50
OMG why this solution is not in the official documentation?!
Please update this page
https://docs.strongloop.com/display/public/LB/Tutorial%3A+third-party+login

[2016-09-04 19:21] superkhau commented on #50
@crandmck ^

[2016-09-21 01:43] davidyapdy commented on #72
[code]

[2016-09-21 02:58] paulomcnally commented on #72
Thanks

[2016-09-21 02:58] #72 closed

[2016-09-28 23:07] crandmck commented on #50
@superkhau I updated http://loopback.io/doc/en/lb2/Configuring-providers.json.html#example-providersjson but now we need to update as well https://github.com/strongloop/loopback-example-passport/blob/master/providers.json.template.  I'll leave that to you or @jannyHou.

[2016-09-29 14:54] jannyHou commented on #50
Thank you @crandmck . Created a pr to update it in example repo:
https://github.com/strongloop/loopback-example-passport/pull/83

[2016-11-17 10:53] lepus2 opened #88 "local login is not working"
I'd like to apply loopback-passport so that I have tried 'loopback-example-passport'. I clone this repository and modify provider.json a bit. (Facebook id and secret...) There's nothing more I have changed. I succeeded to Facebook login but I was not able to login locally. I can make a new ID by '/signup' page and I checked out in db.json. However, when I tried to login with the account I just mad

[2016-11-20 03:28] overfried commented on #88
Hi lepus2 ...The signup workflow is not setting the user email as verified. Take a look at this example: https://github.com/strongloop/loopback-example-user-management/blob/master/common/models/user.js#L5-L35

[2016-12-02 09:20] tention commented on #74
@artmunro Can I know how you save the profile fields through a hook? I tried to get the value through a hook but i'm not able to retrieve profile fields properly.

The following commands would get me "undefined" instead of the proper value.
       console.log('profileId: ', ctx.instance.profileId);
       console.log('displayName: ', ctx.instance.profile.displayName);
       console.log('familyNam

[2016-12-07 21:00] rodplata opened #90 "Cannot read property 'id' of undefined"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Using the example/starter code
After the successfully login with OpenID, at the callback function I get
`502 Bad Gateway: Registered endpoint failed to handle the request.`
in
`/auth/ibm/callback`

and the Log shows:
[code]
And I can see in the logs of the APP all my information L

[2017-01-12 18:11] Jcbobo88 commented on #25
i i have to change the server.js file created with the generator,  changing

`boot(app, __dirname, function(err) {
  if (err) throw err;

  // start the server if `$ node server.js`
  if (require.main === module)
    app.start();
});`

to `
boot(app, __dirname);
`
inserting the passportConfigurator setModels inside the callback functions was not working (i really don't know why).

[2017-02-10 13:46] smith64fx commented on #32
Really sad that strongloop is doing nothing about this problems! I'm really angry :(

[2017-02-10 14:09] hackerunet commented on #32
Lack of documentation is a problem for developers, i had to abandon
strongloop it was a time waste, really sad.
El 10/02/2017 09:46, "Smithi" <notifications@github.com> escribió:

[2017-02-10 14:25] OwenBrotherwood commented on #32
same here

[2017-02-10 14:27] smith64fx commented on #88
in the loopback-example-passport this command here has no effect.

[code]

[2017-02-10 14:34] smith64fx commented on #88
I'm really desperated right now, don't know what to do =/

The local login is not working so the whole project here makes no sense.

[2017-02-10 17:48] smith64fx commented on #88
@lepus2
@overfried

I made a fork and also a pull request to fix this problem!

You can get it here:
https://github.com/schmidigital/loopback-example-passport

[2017-02-10 18:49] superkhau commented on #32
I wouldn't say nothing. ;) We are all busy on various things, but I'll see if we can give you a hand.

@raymondfeng Should we dedicate some time to updating this example to make sure it works for some of the above use cases described? There is obvious frustration here with the current example.

[2017-02-10 20:03] smith64fx commented on #32
@superkhau
Yes please merge my pull request.

Nothing is more annoying than using a demo that doesn't work. People want to use this in production.
I had to invest about 8 hours to understand all the code and implement this fix.
I don't want anybody else to feel this pain :)

[2017-02-10 20:13] superkhau commented on #32
@smith64fx Thank you for the PR. I agree, broken demos are a pain. The good thing is we have community members like you who are willing to share solutions. :+1: Will get it landed.

[2017-02-10 20:50] hackerunet commented on #32
Well, the problem is no standarization about the procedures to accomplish a small job so production is not going to be as companies usually expect to be. Strongloop cannot be used in production of new software if timeframes are a concern.

[2017-02-10 21:01] superkhau commented on #32
This is definitely a valid concern. These are things that have been in place for a long time now, I've taken the initiative to make things more transparent for our community (it's obviously taking time to spur change), but know for sure things will change as part of the work we're doing on the next version of loopback.

For example, I've come up with a small list of principles, such as "Community

[2017-02-11 07:47] smith64fx commented on #88
The problem why this happened is here:

https://github.com/strongloop/loopback-component-passport/commit/4cf8153a7b11ace76bf75977fa9ca238cf8910ad#diff-0d9ea68c1756ce2fc5c960b5796850aaR307

They added email verification as a must-have but didn't care about the email verification process itself ;)

[2017-03-01 16:11] chalettu commented on #76
Any updates on this?

[2017-04-25 17:00] cadesalaberry commented on #26
Hi, I would also like to know more about unlinking an account.

[2017-05-07 07:05] jayasrinagrale commented on #8
I am getting this error. Using Loopback 3

Error: Cannot call ACL.find(). The find method has not been setup. The PersistedModel has not been correctly attached to a DataSource!

[2017-05-16 08:12] Code-Crash commented on #11
+1

[2017-05-16 08:32] TrevorPage commented on #11
I am not sure if this helps to answer the original issue raised, but I am personally successfully using loopback-passport so that my Android application can use Google OAuth to log into my Loopback backend. I had to spend quite a lot of time on this to get it to work, particularly concerning how to handle the various tokens.

I can do a more detailed write-up about this if anyone would like me to.

[2017-05-24 12:41] orozco22 opened #95 "K"
### Bug or feature request

- [ ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-06-28 02:56] dhmlau commented on #95
@orozco22 , there's no description on the bug/feature.  I believe it's created by accident?  Closing it.

[2017-06-28 02:56] #95 closed

[2017-07-03 13:58] haotangio commented on #88
Hi all,

Any update for this issue?
The library is quite useful but this issue is very annoying.

[2017-07-18 06:50] perceptron007 commented on #88
@smith64fx Have you implemented this passport-connector for other login module too. I am trying to crete a passport login via LinkedIN and Google also in Loopback and i have no idea how to do this. I tried to learn by using example but i have found that it already have a lot of issues. If you have created your application can you tell me how to do it ??

[2017-07-20 08:14] perceptron007 opened #96 "Couldn't Clone "loopback-example-passport""
Cloning into 'loopback-example-passport'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2017-07-20 10:33] perceptron007 commented on #77
Is anyone going to work on it or not ?
This is so irresponsible, how can you boast about features that you didn't tell how they work ?

[2017-07-20 10:34] perceptron007 commented on #76
Plese provide at least one example for something working. Make it Facebook, Google, Twitter anything but atleast one working example would be great.

[2017-07-20 21:36] atherdon commented on #96
@perceptron007 I clode this repo just now without any troubles. I use clone button, not CLI.
hope this can help you

[2017-07-27 12:34] totymedli commented on #25
For me I had to do all the suggestions @jmls, @a-reda, @brunocascio and @johannesjo gave. So here is an overall:

1. Add `"./node_modules/loopback-component-passport/lib/models"` to `server/model-config.json`'s `_meta.sources` array.
2. Add the following models to the same file (with PascalCase model names in case of LoopBack v3)
[code]
3. Call `boot()` from `loopback-boot` before `passportConfigu

[2017-07-28 07:47] arifsohail commented on #25
structure of you server.js file should be like this as mentioned by @johannesjo
[code]

[2017-08-23 16:23] cadesalaberry commented on #26
Hey there, I still would like to get an answer :smile:

[2017-08-30 12:18] orosznyet commented on #26
I'm with you.

[2017-09-06 15:01] #3 closed

[2017-09-06 15:01] #33 closed

[2017-09-06 15:01] #32 closed

[2017-09-06 15:01] #74 closed

[2017-09-06 15:01] #39 closed

[2017-09-06 15:01] #90 closed

[2017-09-06 15:01] #71 closed

[2017-09-06 15:01] #75 closed

[2017-09-06 15:01] #41 closed

[2017-09-06 15:01] #40 closed

[2017-09-06 15:01] #27 closed

[2017-09-06 15:01] #29 closed

[2017-09-06 15:01] #21 closed

[2017-09-06 15:01] #9 closed

[2017-09-06 15:01] #6 closed

[2017-09-06 15:01] #43 closed

[2017-09-06 15:02] #78 closed

[2017-09-06 15:02] #51 closed

[2017-09-06 15:02] #31 closed

[2017-09-06 15:02] #45 closed

[2017-09-30 08:11] #88 closed

[2017-10-02 10:55] #77 closed

[2017-10-02 10:55] #76 closed

[2017-10-02 21:55] #96 closed

[2017-10-13 10:17] ThatGuyFromFinland opened #99 "The local authentication does not call defaultCallback of passport"
I have struggled to find out how I can make the 3rd party authentication and local authentication to write accessToken and userId cookies (and do everything else) similarly.

It seems, that you have a bug here:
loopback-example-passport/server/views/pages/local.jade

Instead of posting the `/auth/local/callback`, as it should, it posts to `/auth/local` instead. This causes a simple login, without

[2017-10-23 02:19] nathanfletcher commented on #8
Hi, please check your `model-config.json` file. I realised I had mistakenly removed the `ACL` part of it so please make sure that it is there like so...
[code]

[2017-11-10 16:47] KhanHamidkhan opened #100 "how to solve this issue"

[2017-11-10 16:48] KhanHamidkhan commented on #100
"Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app settings.""

[2017-11-10 16:50] KhanHamidkhan opened #101 "How to solve this issue ?"
"Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app settings."

[2017-11-11 04:57] dhmlau commented on #100
Duplicate of https://github.com/strongloop/loopback-example-passport/issues/101.

[2017-11-11 04:57] #100 closed

[2017-11-12 13:20] #26 closed

[2017-11-13 10:09] cadesalaberry commented on #26
@kjdelisle @jannyHou @loay @b-admike @ssh24 @virkt25 @dhmlau

Can we have some guidelines to achieve unlinking/revocation of a passport account ?

Cheers,

[2017-11-24 00:24] msimonc opened #102 "Access-Control-Allow-Origin from client app"
Thanks, the example runs great, but instead of using the Jade pages, if I call the /auth/twitter endpoint from from a seperate app, I get back from Twitter:
Failed to load https://api.twitter.com/oauth/authenticate?oauth_token=lXaZ1gAAAAAaPAAX-tfXY:
No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access.

But perhaps I'm "doing i

[2017-12-07 18:23] michaelerobertsjr opened #103 "Passport Github Example"
This example is needed, most engineers are going to want Github over social logins.

I found that the way to get Github to work as a provider I had to provide the entire url for my app as the `callbackURL`.  It would be great if this were better documented.  It took a ton of guessing and errors to get it working.  I'll open a pr with a better example if someone can't.

[code]

[2017-12-08 03:54] msimonc commented on #102
Updating:  If I use Axios as the client http library it currently fails, but if I use fetch it works.

[2017-12-11 09:30] dreamdevil00 commented on #11
+1 . I think it will be better if this module supports SPA.

[2017-12-21 21:55] dhmlau commented on #103
@michaelerobertsjr , please feel free to submit a PR! Thanks.

[2017-12-26 10:52] #99 closed

[2018-01-23 18:05] #101 closed

[2018-02-15 20:05] ahmismail commented on #21
Any updates here please? I see that would be useful.

[2018-02-18 22:48] jackrvaughan commented on #11
+1

Trying to figure out how to use loopback-component-passport for third-party authentication with my SPA and can't seem to find any good examples.

[2018-02-20 06:52] #102 closed

[2018-03-05 23:32] #103 closed

[2018-05-04 11:43] dosstx commented on #11
Will LB4 support SPA?

[2018-05-04 19:38] jackrvaughan commented on #11
@dosstx  LB3 supports SPAs - can't image LB4 wouldn't

[2018-05-09 10:48] dosstx commented on #11
@jackrvaughan Sorry for the confusion. Is it that this module doesn't support SPA? Trying to understand before I spend time working with it for my SPA. Thanks.

[2018-06-05 08:05] Mahmood004 opened #107 "TypeError: self.userIdentityModel.login is not a function inside passport-configurator.js"
Unhandled error for request GET /auth/google/callback?code=4/AAAlZSmY6sHiAr5lHnedotSD_akH7RpxKaFBbuMnTR00HFoLUwqF6wz9K4SWrEHbKaHVDwa3Ewb_bRmrnulRvII: TypeError: self.userIdentityModel.login is not a function

[2018-06-26 02:35] Root-Control opened #108 "Model handling inside afterRemote Hook not working, but works in beforeRemote"
# Description/Steps to reproduce
I have two distinct behaviors, i'm trying to run a single mongodb / model query in a remote hook, can be beforeRemote of afterRemote, in my case i'm uploading a image in multipart/form-data boundary, and i'm tried to add the image path to an moder property value but doesn't works, i can't make some model query like, app.models.mymodel.find({}, function())  because

[2018-06-26 04:43] virkt25 commented on #108
Closing as duplicate of https://github.com/strongloop/loopback/issues/3929

[2018-06-26 04:43] #108 closed

[2018-09-06 14:36] rajkaran opened #110 "Check roles of LDAP authenticated user"
Questions:
I have loopback-example-passport working with Microsoft Active Directory but I am not seeing memberof/AD groups information as a result of authenticate request.

How would I associate logged in user with roles I have in mysql db. If I get AD group then I can use remote hook and query roles table to fetch role for user group.

Is there any other way of doing it?

It is not feasible for o

[2018-09-06 17:19] rajkaran commented on #110
Found my answer here https://github.com/vesse/passport-ldapauth/issues/37

[2018-09-06 17:19] #110 closed

[2018-11-06 08:42] haresh333 commented on #11
Hi
I am interested and want to implement in my mobile app. can you provide writeup or more details

[2018-12-18 05:49] gjks9999 opened #113 "How to access Loopback-passport form angular project"
# I am new to loopback development, i want to add facebook and linkedin authentication to my project.

# Now i can create new user and login user from user table and integrated to angular project as well.

# please Help me out, how to use passport.js using loopback form angular project

# Thank you........☺

[2019-05-18 08:14] trungdh opened #115 "Loopback facebook Passport Error Login : FacebookAuthorizationError"
I'm trying to use Loopback Component Passport to allow users login via Facebook.
But I got an error when redirect users to auth Facebook page

And Press OK button I got Error Log on my callback URL :

500 Login error: There was an error while helping you log in to this application. Please try again later.
code : 1349003
status : 500
FacebookAuthorizationError: Login error: An error occurred while

[2019-07-29 06:15] DanielChuDC opened #116 "While using LDAP connection only in providers.json, get the errors below"
# Environment
`node -v`
v10.15.3
`npm -v`
6.10.1

# Description/Steps to reproduce
[code]

Run the project with `node .`

# Expected result
The program will run at localhost:3000 or localhost:3000/explorer.

# Real result
 Error: Cannot find module './build/default/DTraceProviderBindings'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load (

[2019-07-29 09:13] DanielChuDC opened #117 "Compatible with Loopback 4?"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-07-29 17:25] dhmlau commented on #117
@DanielChuDC, this example repo is for LoopBack 3, so I believe it won't work with LoopBack 4.
To see how to add passport authentication to a LoopBack 4 application, please see the information from: https://www.npmjs.com/package/@loopback/authentication-passport.

Please also refer to [this blog](https://strongloop.com/strongblog/loopback-4-authentication-updates/) for the LB4 authentication modul

[2019-07-29 17:27] dhmlau commented on #116
@DanielChuDC, responding to [your other issue ](https://github.com/strongloop/loopback-example-passport/issues/117), are you using LoopBack 3 or LoopBack 4?
Please refer to our recent blog on the authentication module updates in LoopBack 4: https://strongloop.com/strongblog/loopback-4-authentication-updates/. Thanks.

[2019-07-31 15:27] DanielChuDC commented on #116
Ok thanks for the reply. I am just running the project by issue command 'node .' in my terminal.
But the project is not running. Just wonder which part is missing.

Anyway, thanks for pointing me to the direction for Loopback4 as I am implement loopback 4 authentication.

I think can close this issue.

[2019-07-31 15:27] #116 closed

[2019-07-31 15:29] #117 closed

[2019-10-01 18:23] #107 closed

[2019-10-01 18:23] #113 closed

[2019-10-01 18:23] #115 closed